/* blog/static/blog/style.css*/
/*http://127.0.0.1:8000/static/blog/style.css*/



 .box{
       position:relative;
       width:864px;
       left:290px;
       right:290px;
       font-size:18px;
 }
 .list{
       font-size: 20px;
 }
  #button{
         position:relative;
         left :380px;
         font-size: 20px;
  }
.first{
      border: 1px solid black;
      padding:8px 8px 8px 8px;
}